body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

html {
  box-sizing: border-box;
  }

*,*::before,*::after {
  box-sizing: inherit;
  }

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #ffffff;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 56px;
}

.main-nav {
  padding: 0px;
  margin: 0px;
  align-self: center;

  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.start {
  order: -1;
  width: 584px;
}

.end {
  width: 584px;
}

.logo {
  width: 138px;
  height: 71px;
  padding: 0px;
  margin: 0px;
}

.nav-list,
.advantages-list,
.advantages-description,
.socials-list,
.advantages-list-grey {
  list-style: none;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
}

.nav-list a {
  color: #000000;
}

.nav-list a:hover {
  color: #81B3D2;
}

.nav-list a:focus {
  color: #776635;
}

.nav-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo img{
  width: 138px;
  height: 71px;
}

.promo {
  min-height: 800px;

  background-image: url("../img/intro-mask.svg"),
  url("../img/mountains-background.jpg");
  background-position-x: center;
  background-position-y: 450px, -55px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.welcome-img {
  padding-top: 75px;

  text-align: center;
}

.promo-text {
  margin-top: 76px;
  padding-top: 58px;

  text-align: center;

  background-color: #ffffff;
}

.promo-text b {
  font-size: 21px;
  line-height: 26px;

  white-space: pre-line;
}

.promo-text p {
  margin: 0px;
  padding-bottom: 51px;
  padding-top: 32px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #656565;
}

.container-blue-bg {
  display: flex;

  height: 256px;
  margin-top: -73px;

  background-color: #81B3D2;
}

.info {
  align-self: center;
}

.img-wrap {
  width: 100%;
}

.img-wrap img{
  width: 100%;
}

.advantages-list,
.advantages-list-grey  {
  margin: 0;
  padding: 0;
}

.advantages-description  {
  display: flex;

  height: 330px;
  padding: 0;
}

.advantages-item h3,
.description-item h3,
.advantages-item-grey h3 {
  margin: 0;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.advantages-item p,
.description-item p,
.advantages-item-grey p {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.blue-bg {
  text-align: center;
  color: #ffffff;
}

.img-wrap {
  background-color: #81B3D2;
}

.advantages-item {
  background-color: #ffffff;
}

.description-item {
  align-self: center;

  width: 400px;
  text-align: center;

  background-color: #ffffff;
}

.container-bg {
  display: flex;
  flex-direction: row-reverse;

  height: 256px;

  background-color: #81B3D2;
}

.advantages-list-grey {
  display: flex;

  height: 256px;
  text-align: center;

  background-color: #eeeeee;
}

.advantages-item-grey {
  align-self: center;

  width: 400px;
}

.searches-hotel {
  height: 290px;
  padding-top: 55px;

  text-align: center;

  background-color: #ffffff;
}

.searches-hotel-date b {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.searches-hotel-date p {
  margin: 0px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.button-find {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  background-color: #766357;
}

.button-find:hover {
  background-color: #604E43;
}

.button-find:active {
  color: #847870;

  background-color: #503E33;
}

.map {
  background-color: #ffffff;
}

.map img {
  width: auto;
  height: auto;
}

.page-footer {
  background-color: #ffffff;
}

.contacts {
  display: flex;
  justify-content: space-around;

  height: 120px;
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
}

.tel {
  color: #000000;
}

.socials-list {
display: flex;

  margin: 0px;
  padding: 0px;
}

.copyright {
  margin: 0px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.html-icon svg{
  width: 115px;
  height: 41px;
  fill: #000000;
}

.html-icon:hover path {
  fill: #81B3D2;
}

.html-icon:active path {
  fill: #BDBBBC;
}

.pop-up {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.pop-up p {
  margin: 0;
  padding: 0;
}

.booking-form input[type="date"] {
  font: inherit;
  background-color: #F2F2F2;
}

.minus,
.plus {
  background-color: #F2F2F2;
}

.booking input[type="number"] {
  font: inherit;

  background-color: #F2F2F2;
}

.booking input[type="date"]:hover {
  background-color: #EBEBEB;
}

.booking input[type="date"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.find {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81B3D2;
}

.find:hover {
  background-color: #669EC0;
}

.find:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496BD;
}

.options-form {
  background-color: #f2f2f2;
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

fieldset {
	border: 0;
}

.options-form {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  color: #ffffff;
}

legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-range {
  width: 330px;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.results-sort {
  background-color: #ffffff;
}

.results-counter {
  margin: 0px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.triangle p{
  margin: 0px;
}

.results-sort-by,
.sort-list {
  margin: 0px;
  padding: 0px;

  list-style: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-list .active {
  color: #81B3D2;
}

.sort-list {
  color: rgba(0, 0, 0, 0.3);
}

.results-list {
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.results-item {
  background-color: #ffffff;
}

.info p,
.info h3 {
  margin: 0px;
  padding: 0px;
}

.results h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.results h3:hover {
  color: #81B3D2;
}

.results h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-class,
.hotel-cost {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.rating-points {
  margin: 0px;
}

.button-info {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81B3D2;
}

.button-info:hover {
  background-color: #669EC0;
}

.button-info:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496BD;
}

.button-rent {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #766357;
}

.button-rent:hover {
  background-color: #604E43;
}

.button-rent:active {
  color: #847870;

  background-color: #503E33;
}
