body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

html {
  box-sizing: border-box;
  }

*,*::before,*::after {
  box-sizing: inherit;
  }

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.nav {
  display: flex;

  position: relative;
}

.main-nav {
  width: 100%;

  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 138px;
  height: 71px;
}

.logo img {
  width: 138px;
  height: 71px;
}

.nav-list,
.advantages-list,
.advantages-description,
.socials-list {
  list-style: none;
}

.nav-list {
  display: flex;

  padding: 15px 72px;
  margin: 0;
}

.nav-item {
  width: 239px;
}

.nav-item.left {
  text-align: left;
}

.nav-item.right {
  text-align: right;
}

.nav-item.right:nth-child(3) {
  margin-left: 94px;
}

.nav-item.right:nth-child(4) {
  margin-left: 6px;
}

.nav-list a {
  color: #000000;
}

.nav-list a:hover {
  color: #81B3D2;
}

.nav-list a:focus {
  color: #776635;
}

.nav-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.promo {
  min-height: 724px;

  background-image: url("../img/intro-mask.svg"),
  url("../img/mountains-background.jpg");
  background-position-y: 450px, -57px;
  background-repeat: no-repeat;

  background-color: #81b3d2;
}

.welcome-img {
  padding-top: 75px;
  padding-bottom: 73px;

  text-align: center;
}

.promo-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 61px;
  text-align: center;

  background-color: #ffffff;
}

.promo-description {
  width: 470px;
  margin: 0px;

  font-size: 21px;
  line-height: 26px;
}

.promo-advantages {
  width: 100%;
  margin: 0px;
  padding-bottom: 51px;
  padding-top: 27px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #656565;
}

.advantages-item.wide {
  display: flex;
  flex-wrap: wrap;

  background-color: #81B3D2;
}

.advantages-item.wide.reverse {
  flex-direction: row-reverse;
}

.blue-bg {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
  padding-top: 26px;

  color: #ffffff;
  text-align: center;
}

.info-head {
  width: 140px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.advantages-description  {
  display: flex;

  padding-bottom: 8px;
  width: 100%;
  padding-left: 0;

  background-color: #ffffff;
}

.advantages-item h3,
.description-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.info-number,
.reverse-number,
.advantages-text,
.info-desc,
.reverse-desc {
  padding-top: 2px;
  padding-bottom: 19px;
  margin: 0 auto;
  width: 285px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.info-desc {
  width: 280px;
}

.img-wrap {
  width: 800px;
  overflow: hidden;

  background-color: #81B3D2;
}

.img-wrap img {
  display: block;
}

.advantages-item {
  background-color: #ffffff;
}

.description-item {
  padding-top: 141px;
  padding-bottom: 55px;
  width: 33.333%;

  text-align: center;
}

.building {
  background-image: url("../img/building.svg");
  background-position-x: 162px;
  background-position-y: 60px;
  background-repeat: no-repeat;
  background-size: 75px 72px;
}

.food {
  background-image: url("../img/burger.svg");
  background-position-x: 163px;
  background-position-y: 60px;
  background-repeat: no-repeat;
  background-size: 75px 72px;
}

.gift {
  background-image: url("../img/gift-box.svg");
  background-position-x: 163px;
  background-position-y: 56px;
  background-repeat: no-repeat;
  background-size: 75px 76px;
}

.container-bg {
  display: flex;
  flex-direction: row-reverse;

  background-color: #81B3D2;
}

p.reverse-desc {
  width: 314px;
}

.advantages-item.grey {
  width: 33.333%;
  padding-top: 49px;
  padding-bottom: 58px;

  text-align: center;

  background-color: #eeeeee;
}

.grey-head {
  width: 38.333%;
  margin: 0 auto;
}

.advantages-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.grey-number {
  margin: 0;
  padding-top: 24px;
}

.grey-desc {
  width: 52%;
  margin: 0 auto;
  padding-top: 19px;
}

.grey-desc-2 {
  width: 66%;
  margin: 0 auto;
  padding-top: 19px;
}

.grey-desc-3 {
  width: 64%;
  margin: 0 auto;
  padding-top: 19px;
}

.searches-hotel {
  position: relative;
  padding-top: 29px;

  text-align: center;

  background-color: #ffffff;
}

.searches-hotel.date b {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.searches-hotel.date p {
  margin-top: 26px;
  margin-bottom: 46px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.button-find {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  border: none;

  background-color: #766357;

  cursor: pointer;
}

.button-find:hover {
  background-color: #604E43;
}

.button-find:active {
  color: #847870;

  background-color: #503E33;
}

.map {
  height: 598px;
  margin-bottom: -125px;

  background-color: #ffffff;
}

.map img {
  width: auto;
  height: auto;
}

.page-footer {
  position: relative;

  background-color: rgba(255, 255, 255, 0.9);
}

.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-top: 11px;
  padding-bottom: 17px;

  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
}

.link {
  padding-top: 25px;
  padding-left: 29px;
}

.link p {
  margin: 0px;
  padding-left: 38px;
  padding-top: 6px;
}

.tel {
  color: #000000;
}

.socials-list {
  display: flex;

  padding-right: 99px;
}

.socials-list li {
  width: 46px;
  height: 48px;
  margin: 3px;

  background-color: #81b3d2;
}

.socials-list svg {
  fill: #f2f2f2;
}

.social-button:hover {
  background: #669ec0;
}

.social-button:active .social-img {
  fill: rgba(255, 255, 255, 0.3);
}

a.social-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.copyright {
  display: flex;
  align-items: center;

  padding-top: 8px;
  padding-right: 37px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.copyright span {
  margin-right: 7px;
  padding-bottom: 6px;
}

.html-icon svg{
  width: 115px;
  height: 41px;
  fill: #000000;
}

.html-icon:hover path {
  fill: #81B3D2;
}

.html-icon:active path {
  fill: #BDBBBC;
}

.pop-up {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 568px;
  padding: 55px 55px 27px 55px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
}

.pop-up p {
  display: flex;

  position: relative;

  align-items: center;

  margin-top: 0px;
  margin-bottom: 29px;
  padding: 0;
}

.booking-form input[type="text"] {
  width: 346px;
  height: 38px;
  margin-left: 23px;
  padding-left: 13px;

  font: inherit;
  text-transform: uppercase;

  border: none;

  background-color: #F2F2F2;
}

.booking-form input[id="date-departure"] {
  margin-left: 19px;
  margin-top: 0px;
}

.calendar {
  width: 21px;
  height: 22px;

  fill: #cacaca;

  border: 0;

  background-color: transparent;

  cursor: pointer;
}

.calendar.dep url {
  fill: #cacaca;
}

.calendar.arr {
  position: absolute;
  top: 8px;
  right: 16px;
}

.calendar.dep {
  position: absolute;
  top: 8px;
  right: 16px;
}

.calendar:hover {
  fill: #000000;
}

.calendar:active {
  fill: #81b3d2;
}

.minus,
.plus {
  width: 38px;
  height: 38px;
  margin-right: -5px;

  text-align: center;
  color: #818181;

  border: 0;
  cursor: pointer;

  background-color: #F2F2F2;
}

.img-minus:hover,
.img-plus:hover {
  fill: #000000;
}

.img-minus:active,
.img-plus:active {
  fill: #81b3d2;
}

button.minus {
  margin-left: 38px;
}

.img-minus,
.img-plus {
  vertical-align: middle;

  fill: #cacaca;
}

.children {
  padding-right: 3px;
  padding-left: 62px;
}

.minus.child {
  margin-left: 26px;
}

.booking-form input[type="text"] {
  font: inherit;

  background-color: #f2f2f2;
}

.booking-form input[type="text"]:hover {
  background-color: #ebebeb;
}

.booking-form input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.booking-form input[id="adults-field"] {
  width: 38px;
  height: 38px;
  margin-left: 4px;
}

.booking-form input[id="children-field"] {
  width: 38px;
  height: 38px;
  margin: 0;
}

.find {
  width: 458px;
  height: 58px;
  margin-top: 26px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  border: none;

  background-color: #81B3D2;

  cursor: pointer;
}

.find:hover {
  background-color: #669EC0;
}

.find:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496BD;
}

.nav-list .current {
  color: #766357;
  cursor: default;
}

.nav-list .current:hover {
  color: #766357;
  cursor: default;
}

.nav-list .current:active {
  color: #766357;
  cursor: default;
}

.options-form {
  display: flex;

  padding: 29px 70px 28px 70px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  background-size: 100%;

  background-image: url("../img/filter-background.jpg");
  background-position-y: -56px;
  background-repeat: no-repeat;
  background-color: #766357;
}

.options-form p {
  margin-top: 24px;
  margin-left: 19px;
  margin-bottom: 4px;
}

fieldset.infrastructure {
  margin: 0;
  padding: 0;
  border: 0;
}

legend.infrastructure-header,
legend.accommodation-header {
  padding: 0;
  width: 170px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #f2f2f2;
}

.input-check {
  position: absolute;
  left: 108px;

  width: 27px;
  height: 23px;

  overflow: hidden;
  clip: rect(0 0 0 0);

  cursor: pointer;
}

.check-box {
  position: absolute;

  width: 27px;
  height: 23px;
  margin-left: -40px;
  margin-top: -2px;;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;

  cursor: pointer;
}

.input-check:focus + .check-box {
  width: 30px;
  height: 30px;

  border-radius: 5px;
  border: 3px solid #6495ed;
}

.input-check:checked + .check-box {
  background-image: url("../img/checkbox-on.svg");
}

.input-check:checked:disabled + .check-box {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.input-check:not(checked):disabled + .check-box {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.input-label {
  padding-left: 23px;
}

fieldset.accommodation {
  margin: 0 0 0 86px;
  padding: 0;
  border: 0;
}

fieldset.prices {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-range {
  box-sizing: content-box;

  margin-left: 315px;
}

.filter-range-title {
  margin-bottom: 6px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  width: 314px;
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price{
  width: 81px;
  margin-left: 64px;
}

.price-controls .max-price {
  width: 80px;
  height: 37px;
  margin-left: 65px;
}

.price-controls input {
  width: 50px;
  height: 40px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 30px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  margin: 0 85px;
  padding: 6px 33px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.results-sort {
  display: flex;

  padding: 32px 72px 28px 71px;
  border-bottom: 1px solid #E5E5E5;
}

.search-table {
  display: flex;
  align-items: center;

  margin-left: 48px;
  width: 100%;
}

.results-counter {
  white-space: nowrap;

  margin: 0px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.triangle p{
  margin: 0px;
}

.triangle {
  display: flex;
}

.triangle-button.up {
  width: 12px;
  margin-right: 12px;
  margin-top: 1px;
  padding: 0;

  border: 0 solid;

  cursor: pointer;

  background-color: #ffffff;
  fill: #cacaca;
}

.triangle-button.down {
  width: 12px;
  padding: 0 1px 0 0;
  margin-top: 0;

  border: 0 solid;

  cursor: pointer;

  background-color: #ffffff;
  fill: #81b3d2;
}

.triangle-button.up:hover {
  fill: #000000;
}

.page-up:active .arrow-up {
  fill: #81b3d2;
}

.sort-by,
.sort-list {
  margin: 0px;
  padding: 0px;

  list-style: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-list {
  display: flex;

  width: 100%;
  padding-left: 41px;

  color: rgba(0, 0, 0, 0.3);
}

.sort-item a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sort-list .active {
  margin-left: -1px;

  border: none;
  color: #81B3D2;
}

.sort-item a:hover {
  color: #81b3d2;
}

.sort-item a:active {
  color: #000000;
}

.sort-item:nth-child(2) {
  padding-left: 33px;
}

.sort-item:nth-child(3) {
  padding-left: 33px;
}

.results-list {
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.results-item {
  display: flex;

  padding: 30px 73px 28px 72px;

  border-bottom: 1px solid #E5E5E5;
}

.information {
  margin-left: 30px;
  margin-top: -4px;
}

.hotel-price {
  display: flex;

  margin-top: 6px;
}

.hotel-cost {
  margin-left: 39px;
}

.hotel-cost.motel {
  margin-left: 64px;
}

.hotel-cost.apartment {
  margin-left: 21px;
}

.rating {
  margin-left: auto;
}

.stars {
  display: inline-block;

  height: 17px;
  margin-top: 0;

  vertical-align: baseline;

  background-image: url("../img/star.svg");
  background-repeat: space;
}

.stars.four {
  width: 89px;
  margin-left: 35px;
}

.stars.three {
  width: 67px;
  margin-left: 57px;
}

.stars.two {
  width: 41px;
  margin-left: 83px;
}

.results h3 {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.results h3:hover {
  color: #81B3D2;
}

.results h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-class,
.hotel-cost {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.rating-points {
  margin-top: 27px;
  margin-bottom: 1px;
  margin-left: 17px;
  padding: 3px 12px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  background-color: #f2f2f2;
}

.button-active {
  margin-top: 13px;
}

.button-info {
  padding: 5px 16px;

  color: #ffffff;

  border: 0;

  background-color: #81B3D2;
}

.button-info:hover {
  background-color: #669EC0;
}

.button-info:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496BD;
}

.button-rent {
  margin-left: 4px;
  padding: 3px 16px;

  font: inherit;
  text-transform: uppercase;
  color: #ffffff;

  border: 0;

  background-color: #766357;

  cursor: pointer;
}

.button-rent:hover {
  background-color: #604E43;
}

.button-rent:active {
  color: #847870;

  background-color: #503E33;
}

